




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}


.font_inter {
    font-family: "Inter", sans-serif;
}

.font_raleway {
    font-family: "Raleway", sans-serif;
}

:root {
    --primary-green: #1DD100;
}

.seat.selected {
    background-color: var(--primary-green) !important;
    transition: background-color ease 0.5s;
}

.default{
    background-color: rgb(229 231 235);
    transition: background-color ease 0.5s;
}

.shahi_custom_shadow{
    box-shadow: 0px 3px 0 var(--primary-green);
}

.shahi_custom_bottom_shadow{
    box-shadow: 0px -2px 0 var(--primary-green);

}

.special_class{
    display: flex;
    justify-content: space-between;
}






